* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

.pageContent {
  padding: 10px 7px;
}

.mainContent {
  padding: 0 0 45px;
}

.btnClose {
  display: flex;
  justify-content: flex-end;
}

.header {
  padding: 10px 0 20px;
}

.preloader1 {
  width: 25px;
  height: 25px;
  background-image: url('/images/preloader1.gif');
  background-size: 25px 25px;
  background-repeat: no-repeat;
}

.input {
  height: 35px;
  width: 55%;
  border: 1px solid rgb(112, 188, 211);
  background-color: rgb(238, 238, 238);
  border-radius: 4px;
  margin-bottom: 20px;
}

.dropdown-menu, .cardWeather {
  font-family: Arial, sans-serif;
}

.cardWeather {
  width: 230px;
  padding: 10px 5px;
  margin-bottom: 15px;
  border: 1px solid rgb(112, 188, 211);
  background-color: rgb(247, 252, 253);
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 3px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.boxImgAndTemp {
  display: flex;
  width: 75%;
  justify-items: flex-start;
  /* justify-content: space-between; */
}

.ImgWeather {
  width: 60px;
  height: 60px;
}

.tempText {
  font-size: 40px;
  margin-top: 8px;
}

.tempTextC {
  font-size: 15px;
  line-height: 45px;
}

.buttonSecondary {
  font-size: 13px;
  font-style: italic;
  margin: 1px;
  padding: 12px 10px;
  /* background-color: var(--tg-theme-button-color); */
  background-color: #129c43;
  color: var(--tg-theme-button-text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  z-index: 1000;
}

.inputBox {
  display: flex;
  width: 90%;
  justify-content: flex-start;
}
.buttonSend {
  width: 35px;
  height: 35px;
  margin-left: 3px;
  background-image: url('/images/send.png');
  background-position: center center;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: var(--tg-theme-button-text-color);
  cursor: pointer;
}

.buttonsBottom { 
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 5px;
 }

 .weatherText {
  font-size: 18px;;
 }

 .weatherIcon {
  background-image: url('/images/cloudSun.webp');
  width: 150px;
  height: 150px;
  background-position: center center;
  background-size: 150px 150px;
  background-repeat: no-repeat;
  border: none;
  margin: 30px 0 0;
 }

 /* Выпадающее Меню */
 .dropdown {
  position: relative;
  display: inline-block;
  font-size: 17px;
  margin: 10px 0;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 4px -1px, rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}

.dropdown-toggle {
  padding: 10px;
  font-size: 17px;
  background-color: #fff;
  border: 1px solid rgb(112, 188, 211);
  border-radius: 4px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: block;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-menu li {
  padding: 9px 20px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f5f5f5;
}

.dropdown-item {
  margin: 7px 0;
  font-size: 18px;
  border-bottom: 1px solid rgb(218, 236, 238);
}