:root {
    --tg-theme-button-text-color: #57575d;
    --tg-theme-hint-color: #a1a1ab;

    --color-white: #FFFFFF;

    --primary-color: #0084C2;
    --primary-color-dark: #006392;
    --secondary-color: #2c333c;

    --text-color-dark: #42434B;
    --text-color-middle: #99999E;
    --text-color-light: #E1E1E1;

    --background-primary: #F9F9F9;
    --background-secondary: #EFEFEF;
    --background-tertiary: #99999E;
}

body, button, input, select, textarea {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
